<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
    业务渠道项目统计--美速运营统计报表系统
{% endblock %}

{% block content %}
     <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">业务渠道项目统计</h1>
      </div>
    <div class="row col-sm-12">
        <div class="col-sm-6">
            <table class="table table-bordered">
              <thead>
                <tr class="table-active">
                  <th scope="col">业务渠道来源</th>
                  <th scope="col">对应项目数量</th>
                  <th scope="col">对应项目占比</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <th scope="row">集团内</th>
                  <td id="cell-inside"></td>
                  <td id="cell-pro-inside"></td>
                </tr>
                <tr>
                    <th scope="row">诺和德美</th>
                  <td id="cell-nor"></td>
                  <td id="cell-pro-nor"></td>
                </tr>
                <tr>
                  <th scope="row">集团外</th>
                  <td id="cell-outside"></td>
                    <td id="cell-pro-outside"></td>
                </tr>
                <tr>
                  <th scope="row">总计</th>
                    <td id="total"></td>
                    <td></td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <canvas  id="myChart2" width="400" height="400"></canvas>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
    var endpoint='/api/project_from/'
    var funnel_data=[]
    var funnel_name=[];
    var total=[]
    var norhedemei=[]
    var inside=[]
    var outside=[]
    var pro_nor=[]
    var pro_inside=[]
    var pro_outside=[]

    $.ajax({
        method:'GET',
        url:endpoint,
        success:function (data){
            funnel_data=data.funnel_data
            funnel_name=data.funnel_name
            total=data.total
            norhedemei=data.from_norhedemei
            inside=data.inside
            outside=data.outside
            pro_nor=data.pro_nor
            pro_inside=data.pro_inside
            pro_outside=data.pro_outside
            get_source()
            get_data()
            console.log(data)
        },
        error:function (error_data){
            console.log('error')
            console.log(error_data)
        }
    })

    function get_source(){
        document.getElementById('total').innerText = total
        document.getElementById('cell-nor').innerText = norhedemei
        document.getElementById('cell-inside').innerText = inside
        document.getElementById('cell-outside').innerText = outside
        document.getElementById('cell-pro-outside').innerText = pro_outside+'%'
        document.getElementById('cell-pro-inside').innerText = pro_inside+'%'
        document.getElementById('cell-pro-nor').innerText = pro_nor+'%'

    }

    function get_data(){
        const ctx2 = document.getElementById('myChart2');

        new Chart(ctx2, {
            type: 'doughnut',
            data: {
              labels: funnel_name,
              datasets: [{
                label: '渠道来源项目数量',
                data: funnel_data,
                 backgroundColor: [
                  'rgba(255, 99, 132, 0.7)',
                  'rgba(255, 159, 64, 0.7)',
                  'rgba(54, 162, 235, 0.7)',
                ],
                hoverOffset: 4
              }]
            },
            options: {
              plugins:{
                  title:{
                      display:true,
                      text:"项目渠道来源分布"
                  },
                  legend: {
                    display: true
                  },
              },
            }
          });
    }

// 当前页面路径
    var current = location.pathname;

    $(function() {
      // 导航栏切换
      $('.nav-item a').each(function(){
        var $this = $(this);
        if($this.attr('href') === current){
          $this.addClass('active');
        }
      })
    });

    </script>

{% endblock %}

