{% load static %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column" id="nav">
          <li class="nav-item">
            <a class="nav-link " href="/">
              <span data-feather="home"></span>
              综合交易数据统计
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              交易策略收益统计
            </a>
          </li>
        </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>渠道管理</span>
        </h6>
          <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              交易渠道订单管理
            </a>
          </li>
        </ul>
      </div>
    </nav>


